node_modules
npm-debug.log
# dist # Allow dist for prebuild approach
coverage
.nyc_output
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
test
docs
.vscode
.astro
test-dist
*.md
jest.config.js
tailwind.config.mjs
tsconfig.json
tsconfig.build.json
